.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.grid {
    width: 40%;
}

form {
    display: table;
}

select {
    display: table-cell;
}

p.params {
    display: table-row;
}

label {
    display: table-cell;
}

input.params {
    display: table-cell;
}
