.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
fill: none;
stroke: #ccc;
stroke-width: 2px;
}

.canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
